.page-header h1 {
    color: #3A2449;
    text-align: center;
    font-size: 40px;
    display: block;
    align-content: center;
}

.back-button {
  background-color: #3A2449;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  width: 16.5%;
  transition: all 0.5s;
  border-radius: 4px;
}

.back-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.back-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.back-button:hover span {
  padding-right: 25px;
}

.back-button:hover span:after {
  opacity: 1;
  right: 0;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color:#88709a
}

.instructions {
  text-align: center;
}

.start-button {
  margin-top: 10%;
  background-color: #3A2449;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  width: 16.5%;
  transition: all 0.5s;
  border-radius: 4px;
}

.start-button:hover {
  background-color: #6D4389;
  transition: all 0.5s;
}

.big-instructions {
  font-size: 20px;
}

.hidden {
  display: none;
}

.image {
  margin: 0 auto;
}
